{% extends 'base.html.twig' %}

{% block title %}Test Symfony Le Comptoir des langues{% endblock %}

{% block body %}

<div class="container-fluid ">
    <div class="row">

        <div class="col-md-9 nav nav-pills nav-stacked anyClass" style="height:660px;
        overflow-y: scroll;" >
            <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Livre</th>
                            <th>Date</th>
                            <th>Auteur</th>
                            <th>Date naissance</th>
                            <th>Catégorie</th>
                            <th>Edit/Sup</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for livre in livres %}
                    {% include 'home/_table.html.twig' with {livre : livre } only %}
                    {% endfor %}
                    </tbody>
            </table>
        </div>

        <div class="col-md-3 card border p-3">
           <div class="col-md-12">
             {% include 'home/_filter.html.twig' with {form: form} only %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
